<div class="widgetContent" dojoAttachPoint="containerNode">
	<div class="widgetPanel" buttonIcon="assets/images/small_icons/i_bookmark.png" buttonText="${i18nStrings.panelTitle0}">
		<div name="results" dojoType="com.esri.solutions.jsviewer.ResultList"></div>
	</div>
	<div class="widgetPanel" buttonIcon="assets/images/small_icons/i_bookmark_add.png" buttonText="${i18nStrings.panelTitle1}">
		<div>${i18nStrings.msgAdd}:</div>
		<input name="bookmarkName" type="text" dojoType="dijit.form.TextBox"></input><br/>
		<button name="btnAdd" type="button" dojoType="dijit.form.Button">${i18nStrings.btnAdd}</button>
	</div>
</div>
