@{
    ViewBag.Title = "Bổ Sung Thông Tin";
}

<div class="tabs">
	<ul>
		<li><a href="#tabs-1">Thông tin chung</a></li>
		<li><a href="#tabs-2">Hồ sơ đính kèm</a></li>
		<li><a href="#tabs-3">Báo cáo hoạt động</a></li>
	</ul>
	<div id="tabs-1">
		
	</div>
	<div id="tabs-2">
		<table>
            <tr>
                <td class="label"><label>QĐTL/Chứng nhận ĐKKD/GP đầu tư</label></td>
                <td><input type="file" /></td>
            </tr>
            <tr>
                <td class="label"><label>Hợp đồng đo đạc (đối với tổ chức nước ngoài)</label></td>
                <td><input type="file" /></td>
            </tr>
            <tr>
                <td class="label"><label>Lý do xin cấp phép</label></td>
                <td><textarea rows="5" cols="10"></textarea></td>
            </tr>
        </table>
	</div>
	<div id="tabs-3">
        <table>
            <tr>
                <td class="label"><label>Kết quả xét duyệt</label></td>
                <td>
                    <input type="radio" name="kqDuyet" value="True" /> Duyệt
                    <br />
                    <input type="radio" name="kqDuyet" value="False" /> Không duyệt
                </td>
            </tr>
            <tr>
                <td class="label "><label>Lý do</label></td>
                <td><textarea rows="5" cols="10"></textarea></td>
            </tr>
        </table>
	</div>
</div>
<div class="submit">
    <input type="submit" value="Lưu" />
    <input type="reset" value="Xóa hết" />
</div>>
