@{
    ViewBag.Title = "Đăng Ký Gia Hạn";
}

<h2>DangKyGiaHan</h2>
Controller: @ViewContext.Controller.ValueProvider.GetValue("controller").RawValue
<br />
View: @ViewContext.Controller.ValueProvider.GetValue("action").RawValue