/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
*
{
    margin: 0;
    padding: 0;
}

body 
{
    font: 12px Arial,Tahoma,Sans-serif;
    color: #696969;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 957px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    position: relative;
    height: 35px;
    padding: 25px 0;
}

#header h1 {
    float: left;
    line-height: 35px;
}

#header h1 a {
    color: #459E00;
    text-decoration: none;
}

#logindisplay {
    display: block;
    float: right;
    font-size: 1.1em;
    color: #459E00;

    line-height: 35px;
}

#logindisplay a {
    color: #459E00;
    text-decoration: none;
}

#container
{
    margin: 5px 0;
}

#main 
{
    padding: 10px;
    background-color: rgb(253, 233, 217);
}

#side-bar
{
    position: absolute;
    width : 270px;
}

#footer
{
    background-color: rgb(79, 129, 189);
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
}

/* SIDE MENU   
----------------------------------------------------------*/
.side-menu .side-link
{
    width: 268px;
    margin: 0 0 5px;
    text-align: left;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea 
{
    width: 100%;
    min-height: 100px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

/* TABLE
----------------------------------------------------------*/

table 
{
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: 0px #000000 none;
}

table td.label 
{
    text-align: right;
    width: 150px;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

table.select-list
{
    width: 100%;
    border-collapse: collapse;
}

table.select-list th
{
    padding: 5px;
    text-align: center;
    background-color: rgb(192, 80, 77);
    border: solid 1px rgb(192, 80, 77);
    color: #ffffff;
}

table.select-list td 
{
    padding: 5px;
    text-align: left;
    border: solid 1px rgb(192, 80, 77);
    color: #333333;
}

table.select-list tr.even td
{
    background-color: rgb(227, 177, 176);
    
}

table.select-list tr.odd td
{
    background-color: rgb(237, 206, 205);
}

table.select-list tr td:first-child
{
    width: 10px;
    text-align: center;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

#logo {
    float: left;
}

div#title 
{
    display: block;
    float: left;
    top: 0;
    bottom: 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

.submit
{
    margin: 5px 0;
    text-align: right;
}

.right
{
    text-align: right;
}

.center
{
    text-align: center;
}

.table-button {
    text-align: right;
    margin: 5px 0;
}

.table-button input[type="button"] {
    
    width: 50px;
    font-size: 1em;
    padding: 5px;
}

button.img img
{
    display: block;
    width: 24px;
    height: 24px;
}