<?xml version="1.0" ?>
<!--
////////////////////////////////////////////////////////////////////////////////
//
// Copyright (c) 2008 ESRI
//
// All rights reserved under the copyright laws of the United States.
// You may freely redistribute and use this software, with or
// without modification, provided you include the original copyright
// and use restrictions.  See use restrictions in the file:
// <install location>/FlexViewer/License.txt
//
////////////////////////////////////////////////////////////////////////////////
-->
<configuration>
	<userinterface>
		<banner>visible</banner>
		<title>JavaScript Viewer with Identify</title>
		<subtitle>Powered by ArcGIS Server</subtitle>
		<logo>assets/images/logo.png</logo>
		<stylesheet></stylesheet>
		<menus>
			<menu id="menuMap" visible="true" icon="assets/images/icons/i_globe.png">Map</menu>
			<menu id="menuNav" visible="true" icon="assets/images/icons/i_nav.png">Navigation</menu>
			<menu id="menuWidgets" visible="true" icon="assets/images/icons/i_widget.png">Tools</menu>
			<menu id="menuHelp" visible="true" icon="assets/images/icons/i_help.png">Help</menu>		
  		</menus>
	</userinterface>
	<!--<map initialExtent="-122.2 24.89 -70.59 46.92" fullExtent="-150 -50 150 50">-->
    <map initialExtent="-122.580 45.482 -122.571 45.488" fullExtent="-150 -50 150 50">

      <basemaps menu="menuMap">
			<mapservice label="Street Map" type="tiled" visible="true" alpha="1" icon="assets/images/icons/i_highway.png">http://server.arcgisonline.com/ArcGIS/rest/services/ESRI_StreetMap_World_2D/MapServer</mapservice>
			<mapservice label="Satellite Map" type="tiled" visible="false" alpha="1" icon="assets/images/icons/i_shuttle.png">http://server.arcgisonline.com/ArcGIS/rest/services/ESRI_Imagery_World_2D/MapServer</mapservice>
        <!--<mapservice label="Bản đồ nền" type="tiled" visible="true" alpha="1" icon="assets/images/icons/i_highway.png">http://localhost/ArcGIS/rest/services/bandonen/MapServer</mapservice>-->
      </basemaps>
		<livemaps>
      <!--<mapservice label="Bản đồ động" type="dynamic" visible="false" alpha="0.4">http://localhost/ArcGIS/rest/services/bandodong/MapServer</mapservice>-->
      <mapservice label="Louisville Landbase" type="dynamic" visible="false" alpha="0.4">http://sampleserver1.arcgisonline.com/ArcGIS/rest/services/Louisville/LOJIC_LandRecords_Louisville/MapServer</mapservice>
			<mapservice label="Portland Map" type="dynamic" visible="true" alpha="0.4">http://sampleserver1.arcgisonline.com/ArcGIS/rest/services/Portland/Portland_ESRI_LandBase_AGO/MapServer</mapservice>
		</livemaps>
	</map>
	<navtools>
		<navtool label="Zoom In" icon="assets/images/icons/i_zoomin.png" menu="menuNav">zoomin</navtool>
		<navtool label="Zoom Out" icon="assets/images/icons/i_zoomout.png" menu="menuNav">zoomout</navtool>
		<navtool label="Full Extent" icon="assets/images/icons/i_zoomfull.png" menu="menuNav">zoomfull</navtool>
		<navtool label="Move Map" icon="assets/images/icons/i_pan.png" menu="menuNav">pan</navtool>
    <navtool label="Identify Tool" icon="assets/images/icons/i_identify.png" menu="menuNav">identify</navtool>
  </navtools>
	<widgets>
		<widget label="Live Maps" icon="assets/images/icons/i_folder.png" menu="menuMap">com.esri.solutions.jsviewer.widgets.LiveMapsWidget</widget>
		<widget label="Overview Map" icon="assets/images/icons/i_overview.png" menu="menuMap" config="widgets/config/OverviewWidget.json">com.esri.solutions.jsviewer.widgets.OverviewWidget</widget>
		<widget label="Bookmarks" icon="assets/images/icons/i_bookmark.png" menu="menuMap" config="widgets/config/BookmarkWidget.json">com.esri.solutions.jsviewer.widgets.BookmarkWidget</widget>
		<widget label="Earthquakes" icon="assets/images/icons/i_rss.png" menu="menuWidgets" config="widgets/config/EarthquakeWidget.json">com.esri.solutions.jsviewer.widgets.GeoRSSWidget</widget>
		<widget label="Locate" icon="assets/images/icons/i_pushpin.png" menu="menuWidgets" config="widgets/config/LocateWidget.json">com.esri.solutions.jsviewer.widgets.LocateWidget</widget>
		<widget label="Police Facilities" icon="assets/images/icons/i_policestation.png" menu="menuWidgets" config="widgets/config/LiveLayerWidget2.json">com.esri.solutions.jsviewer.widgets.LiveLayerWidget</widget>
    <widget label="Traffic Cameras" icon="assets/images/icons/i_camera.png" menu="menuWidgets" config="widgets/config/TrafficCameraWidget.json">com.esri.solutions.jsviewer.widgets.LiveLayerWidget</widget>
		<widget label="Search" icon="assets/images/icons/i_search.png" menu="menuWidgets" config="widgets/config/SearchWidget.json">com.esri.solutions.jsviewer.widgets.SearchWidget</widget>
		<widget label="Draw" icon="assets/images/icons/i_draw.png" menu="menuWidgets" config="widgets/config/DrawWidget.json">com.esri.solutions.jsviewer.widgets.DrawWidget</widget>
		<widget label="Service Areas" icon="assets/images/icons/i_servicearea.png" menu="menuWidgets" config="widgets/config/ServiceAreaWidget.json">com.esri.solutions.jsviewer.widgets.ServiceAreaWidget</widget>
		<widget label="About" icon="assets/images/icons/i_about.png" menu="menuHelp" config="widgets/config/AboutWidget.xml">com.esri.solutions.jsviewer.widgets.AboutWidget</widget>
    <!--<widget label="Mốc toạ độ" icon="assets/images/icons/i_moctoado.png" menu="menuWidgets" config="widgets/config/MocToaDoWidget.json">com.esri.solutions.jsviewer.widgets.LiveLayerWidget</widget>
    <widget label="Mốc độ cao" icon="assets/images/icons/i_mocdocao.png" menu="menuWidgets" config="widgets/config/MocDoCaoWidget.json">com.esri.solutions.jsviewer.widgets.LiveLayerWidget</widget>
    <widget label="Mốc trọng lực" icon="assets/images/icons/i_moctrongluc.png" menu="menuWidgets" config="widgets/config/MocTrongLucWidget.json">com.esri.solutions.jsviewer.widgets.LiveLayerWidget</widget>-->

  </widgets>
	<links>
		<link label="Help" icon="assets/images/icons/i_help.png" menu="menuHelp">help.html</link>
		<link label="Home" icon="assets/images/icons/i_home.png" menu="menuHelp">http://www.esri.com</link>
		<link label="Resources" icon="assets/images/icons/i_folder2.png" menu="menuHelp">http://resources.esri.com</link>
	</links>
	<proxytype>asp</proxytype> <!-- jsp|asp|php -->
</configuration>