fieldset.formVertical
{
	border: 0 none;
	padding: 0;
	margin: 8px 0;
}

.formVertical * { font-size: 15px; }

.subHeader *
{
	color: #00B9F2 !important;
	font-size: 1.2em !important;
	font-weight: 700 !important;
	margin-right: 10px;
	width: 190px;
}

.subContent
{
	width: 663px;
}

.formVertical dl { margin: 2px 0; }
.formVertical dl dt, .formVertical dl dd { float: left; }
.formVertical dl dt
{
	display: block;
	line-height: 24px;
}

.formVertical dl dd
{
	width: 410px;
}

.span
{
	float: left;
}

.w16
{
	width: 630px;
}

.w4
{
	width: 170px;
}

input[type=text], select
{
	border: solid 1px;
	padding: 2px;
	background: #efffef;
}

input[type=text].w23 { width: 230px; }

select.w23 { width: 236px; }

input[type=file] { width: 406px; }

input[type=submit].formVertical { margin-left: 200px }

.multiselectable { width:500px; display:block; overflow: hidden; width: 100%; }
.multiselectable label { line-height: 24px; }
.multiselectable select { height: 150px; width: 100% }
.multiselectable div { width: 200px; float:left; display: inline; }
.multiselectable div * { display: block; margin: 0 auto; }
.multiselectable .m-selectable-controls { margin-top: 3em; width: 50px; }
.multiselectable .m-selectable-controls button { margin-top: 1em; }