<div class="widgetContent" dojoAttachPoint="containerNode">
	<div class="widgetPanel"  buttonIcon="assets/images/small_icons/i_folder.png" buttonText="${i18nStrings.panelTitle0}">
	    <table class="widgetTable">
			<tr>
			    <th class="rowHeader">${i18nStrings.panelHeading0}</th>
			</tr>
		</table>
		<div dojoAttachPoint="tocPanel" class="liveMapsScrollPanel" style="height: 120px;"></div>
	</div>
	<div class="widgetPanel"  buttonIcon="assets/images/small_icons/i_options.png" buttonText="${i18nStrings.panelTitle1}">
	    <table class="widgetTable">
			<tr>
			    <th class="rowHeader">${i18nStrings.panelHeading1}</th>
			</tr>
		</table>
		<div class="liveMapsScrollPanel">
			<div dojoAttachPoint="visibilityPanel"></div>
		</div>
	</div>
		
</div>