fieldset.formVertical
{
	border: 0 none;
	padding: 0;
	margin: 8px 0;
}

.formVertical * { font-size: 15px; }

.subHeader *
{
	color: #00B9F2 !important;
	font-size: 1.2em !important;
	font-weight: 700 !important;
	margin-right: 10px;
	width: 190px;
}

.subContent
{
	width: 663px;
}

.formVertical dl { margin: 2px 0; }
.formVertical dl dt, .formVertical dl dd { float: left; }
.formVertical dl dt
{
	display: block;
	line-height: 24px;
}

.formVertical dl dd
{
	width: 460px;
}

.formVertical .span
{
	float: left;
}

.formVertical .w16
{
	width: 630px;
}

.formVertical .w4
{
	width: 170px;
}

.formVertical input[type=text], .formVertical select
{
	border: solid 1px;
	padding: 2px;
	background: #efffef;
}

.formVertical dd input[type=text] { width: 230px; }

.formVertical dd select { width: 236px; }

.formVertical input[type=file] { width: 406px; }

input[type=submit].formVertical { margin-left: 200px }

.multiselectable { width:500px; display:block; overflow: hidden; width: 100%; }
.multiselectable label { line-height: 24px; }
.multiselectable select { height: 150px; width: 100%; overflow: auto }
.multiselectable div { width: 200px; float:left; display: inline; }
.multiselectable div * { display: block; margin: 0 auto; }
.multiselectable .m-selectable-controls { margin-top: 3em; width: 50px; }
.multiselectable .m-selectable-controls button { margin-top: 1em; }

.action-button { margin-bottom: 5px }
.gridpage a { padding: 5px 0 }
.gridpage span.ui-icon {float: left; margin: 0 4px;}
.gridpage span.ui-button-text {float: left; width: 80px;}
.gridpage ul {margin: 0; padding: 0;}
.gridpage li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
.gridpage .custom-fsize { font-size: 0.8em !important; }