<div class="widgetContent" dojoAttachPoint="containerNode">
	<div class="widgetPanel">
		<table width="100%">
			<tr>
				<td valign="top" width="100%">
					<span style="font-size: larger;">${app_title}</span><br/><br/>
					${app_subtitle}<br/><br/>
					<span style="font-size: smaller;">${description}</span><br/><br/>
					<span style="font-size: smaller;">${copyright}</span><br/><br/>
					<span style="font-size: smaller;">${version}</span>
				</td>
				<td valign="top">
					<div class="aboutlogo" style="width:62px;height:64px;"/>
				</td>
			</tr>
		</table>		
	</div>
	<center>Powered by ESRI</center>
</div>
