<div class="widgetContent" dojoAttachPoint="containerNode">
	<div class="widgetPanel" buttonIcon="assets/images/small_icons/i_searchgraphical.png" buttonText="${i18nStrings.panelTitle0}">
		<table class="widgetTable">
			<tr>
				<th class="rowHeader">${i18nStrings.promptSearchLayer}:</th>
				<td><select name="cboGraphicSearch" dojoType="dijit.form.FilteringSelect" title="${i18nStrings.promptSearchLayer}"/></td>
			</tr>
			<tr>
				<td colspan="2" dojoAttachPoint="graphicSearchPrompt">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2">
					<table style="width:100%;">
						<tr>
							<td><div class="toolbutton" buttonIcon="assets/images/icons/i_draw_point.png" title="${i18nStrings.msgSearchPoint}" dojoAttachEvent="onclick:onToolButtonClick"></div></td>
							<td><div class="toolbutton" buttonIcon="assets/images/icons/i_draw_line.png" title="${i18nStrings.msgSearchLine}" dojoAttachEvent="onclick:onToolButtonClick"></div></td>
							<td><div class="toolbutton" buttonIcon="assets/images/icons/i_draw_rect.png" title="${i18nStrings.msgSearchRect}" dojoAttachEvent="onclick:onToolButtonClick"></div></td>
							<td><div class="toolbutton" buttonIcon="assets/images/icons/i_draw_poly.png" title="${i18nStrings.msgSearchPolygon}" dojoAttachEvent="onclick:onToolButtonClick"></div></td>
							<td><div class="toolbutton" buttonIcon="assets/images/icons/i_clear.png" title="${i18nStrings.msgSearchClear}" dojoAttachEvent="onclick:onToolButtonClick"></div></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<div class="widgetPanel" buttonIcon="assets/images/small_icons/i_searchtext.png" buttonText="${i18nStrings.panelTitle1}">
		<table class="widgetTable">
			<tr>
				<th class="rowHeader">${i18nStrings.promptSearchLayer}:</th>
				<td><select name="cboTextSearch" dojoType="dijit.form.FilteringSelect" title="${i18nStrings.promptSearchLayer}"/></td>
			</tr>
			<tr>
				<td colspan="2" dojoAttachPoint="textSearchPrompt">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2"><input type="text" name="textSearch" dojoType="dijit.form.TextBox"></td>
			</tr>
				<td colspan="2">
					<button name="btnSearchText" type="button" dojoType="dijit.form.Button">${i18nStrings.btnSearch}</button>
					<button name="btnClearText" type="button" dojoType="dijit.form.Button">${i18nStrings.btnClear}</button>
				</td>
		</table>
	</div>
	<div class="widgetPanel" buttonIcon="assets/images/small_icons/i_searchdistrict.png" buttonText="${i18nStrings.panelTitle3}">
		<table class="widgetTable">
			<tr>
				<th class="rowHeader">${i18nStrings.promptSearchLayer}:</th>
				<td><select name="cboStateSearch" dojoType="dijit.form.FilteringSelect" title="${i18nStrings.promptSearchLayer}"/></td>				
			</tr>
			<tr>
				<th class="rowHeader">${i18nStrings.promptDistrictLayer}:</th>				
				<td><select name="cboDistrictSearch" dojoType="dijit.form.FilteringSelect" title="${i18nStrings.promptDistrictLayer}"/></td>
			</tr>
			<td colspan="2">
					<button name="btnStateSearch" type="button" dojoType="dijit.form.Button">${i18nStrings.btnSearch}</button>
			</td>
		</table>
	</div>
	<div class="widgetPanel" buttonIcon="assets/images/small_icons/i_searchgraphical.png" buttonText="${i18nStrings.panelTitle4}">
		<table class="widgetTable">
			<tr>
				<th class="rowHeader">${i18nStrings.promptSearchLayer}:</th>
				<td><select name="cboBufferSearch" dojoType="dijit.form.FilteringSelect" title="${i18nStrings.promptSearchLayer}"/></td>
			</tr>
			<tr>
				<td>
					<label>${i18nStrings.cboBufferSearchUnit}:</label>
				</td>
				<td>
					<select name="cboBufferSearchUnit" title="${i18nStrings.cboBufferSearchUnit}" dojoType="dijit.form.FilteringSelect" style="width:150px;"></select>
				</td>
			</tr>
			<tr>
				<td colspan="2" dojoAttachPoint="bufgraphicSearchPrompt">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2"><input type="text" name="textBufDiameter" value="100" dojoType="dijit.form.TextBox"></td>				
			</tr>
			<tr>
				<td colspan="2">
					<table style="width:100%;">
						<tr>
							<td><div class="toolbutton" buttonIcon="assets/images/icons/i_draw_point.png" title="${i18nStrings.msgSearchPoint}" dojoAttachEvent="onclick:onBufToolButtonClick"></div></td>
							<td><div class="toolbutton" buttonIcon="assets/images/icons/i_draw_line.png" title="${i18nStrings.msgSearchLine}" dojoAttachEvent="onclick:onBufToolButtonClick"></div></td>
							<td><div class="toolbutton" buttonIcon="assets/images/icons/i_draw_rect.png" title="${i18nStrings.msgSearchRect}" dojoAttachEvent="onclick:onBufToolButtonClick"></div></td>
							<td><div class="toolbutton" buttonIcon="assets/images/icons/i_draw_poly.png" title="${i18nStrings.msgSearchPolygon}" dojoAttachEvent="onclick:onBufToolButtonClick"></div></td>
							<td><div class="toolbutton" buttonIcon="assets/images/icons/i_clear.png" title="${i18nStrings.msgSearchClear}" dojoAttachEvent="onclick:onBufToolButtonClick"></div></td>
						</tr>
					</table>
				</td>
			</tr>									
		</table>
	</div>	
	<div class="widgetPanel" buttonIcon="assets/images/small_icons/i_table.png" buttonText="${i18nStrings.panelTitle2}">
		<table>
			<tr><td><img class="loader" src="" alt="spinner" /></td><td class="resultsMsg"></td></tr>
		</table>
		<div name="paginator" class="paginator" dojotype="com.esri.solutions.jsviewer.Pagination" style="display:none">			
		</div>
		<div name="results" dojoType="com.esri.solutions.jsviewer.ResultList"></div>
	</div>
</div>
