<div class="infoPopupBody">
	<div class="infoPopupLeader" dojoAttachPoint="leaderNode"></div>
	<div class="widgetBox" style="width:100%;overflow:visible;" dojoAttachPoint="containerNode">
		<div dojoAttachPoint="titleNode" style="font-weight:bold;"></div>
		<div dojoAttachPoint="contentNode"></div>
		<div dojoAttachPoint="linkNode" class="linkIcon" dojoAttachEvent="onclick:onFollowLink"></div>
		<div class="widgetButton wbClose infoPopupButton" style="top:0px" dojoAttachPoint="closeButton" dojoAttachEvent="onclick:onClose"></div>
		<!-- pinning removed for 1.0 
		<div class="widgetButton wbPin infoPopupButton" style="top:20px" dojoAttachPoint="pinButton" dojoAttachEvent="onclick:onPin"></div>
		-->
	</div>
</div>